<script type="text/javascript">
    RED.nodes.registerType('rectec',{
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value:""},
            deviceIp: {value:""},
            localKey: {value:""},
            version: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"rectec";
        }
    });
</script>

<script type="text/html" data-template-name="rectec">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-deviceIp"><i class="icon-tag"></i> Grill IP</label>
        <input type="text" id="node-input-deviceIp" placeholder="x.x.x.x">
    </div>
    <div class="form-row">
        <label for="node-input-localKey"><i class="icon-tag"></i> Local Key</label>
        <input type="text" id="node-input-localKey" placeholder="xxxxxxxxxxxxxxxx">
    </div>
    <div class="form-row">
        <label for="node-input-version"><i class="icon-tag"></i> TuyAPI Version</label>
        <input type="text" id="node-input-version" placeholder="x.x">
    </div>
</script>

<script type="text/html" data-help-name="rectec">
    <p>Node for status and commanding of RecTec grills</p>
</script>
